@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: #0a0a0a; /* Matte Black */
    color: #e0e0e0;           /* Light gray text */
    font-family: 'Poppins', sans-serif;
  }
  @keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  body {
    background: linear-gradient(-45deg, #0f0c29, #302b63, #24243e);
    background-size: 400% 400%;
    animation: gradientMove 15s ease infinite;
  }
  